body {
    font-family: 'Poppins', sans-serif;
}

.green {
    color: rgb(172, 215, 147);
}

.orange {
    color: rgb(255,166,47);
}

.btn-orange {
    background-color: rgb(255,166,47);
    color: white;
    border: none;
}

.bg-orange {
    background-color: rgb(255, 166, 47); /* kolor tła */
}

.form-control:focus {
    border-color: rgb(172, 215, 147);
    box-shadow: 0 0 0 0.2rem rgba(172, 215, 147, 0.25);
}

.form-outline .form-control:focus {
    border-color: rgb(172, 215, 147) !important;
    box-shadow: none !important;
}

.small-font {
    font-size: 14px;
}
